.list-todo-container {
  button {
    cursor: pointer;
    margin-left: 8px;
  }
  .add-todo {
    margin-bottom: 20px;
    input {
    }
    button {
    }
  }
  .list-todo-content {
    width: 400px;
    margin: 0 auto;
    text-align: left;
    .todo-child {
      &:first-child {
        border-top: 1px solid gray;
      }
      padding: 10px 0;
      border-bottom: 1px solid gray;
      margin: 10px;
      span {
      }
      button {
        float: right;
      }
    }
  }
}
